* {
  box-sizing: border-box;
}

.header {
  height: 100px;
  width: 100%;
  background-color: dodgerblue;
  color: white;
  position: fixed;
}
.logo {
  padding-left: 50px;
}
.mission-container {
  padding-top: 120px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: lightskyblue;
}

.mission-list,
.rocket-list,
.ship-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mission-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.image {
  width: 150px;
  height: 150px;
}

.ship-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.ship-list > li {
  text-align: center;
}

.ships-title {
  text-align: center;
}

.mission-card,
.rocket-card {
  background-color: white;
  border-radius: 20px;
  padding: 15px;
}

.rocket-details {
  padding-top: 100px;
  background-color: lightblue;
  height: 100vh;
  display: flex;
}

.rocket-card {
  height: 400px;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 20px;
  padding-left: 50px;
}
.main {
  width: 70%;
}
.sidebar {
  padding: 20px;
  border-left: 1px solid grey;
  background-color: white;
  width: 30%;
}

.mission-data {
  padding: 10px;
}

.first-stage-list,
.second-stage-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
